<script>
  // Get the total number of unique BOM items
  var bomUniqueItems = document.getElementsByClassName("bom-item").length
  document.getElementById("bom-unique").innerHTML = bomUniqueItems

  // Get the total number of BOM items
  var bomTotalItemsEl = document.getElementsByClassName("bom-quantity")
  var bomTotalItems = 0;
  for (var i = 0; i < bomTotalItemsEl.length; i++) {
    bomTotalItems += parseInt(bomTotalItemsEl[i].innerText, 10)
  }
  document.getElementById("bom-total").innerHTML = bomTotalItems

  // Get the total cost of BOM items
  var bomCostEl = document.getElementsByClassName("bom-cost")
  var bomCost = 0.0;
  for (var i = 0; i < bomCostEl.length; i++) {
    if (bomCostEl[i].innerText) {
      bomCost += parseFloat(bomCostEl[i].innerText.substr(1))
    }
  }
  document.getElementById("bom-cost").innerHTML = "SGD $" + bomCost.toFixed(2)
</script>
