<script src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.3.0/frappe-gantt.js"></script>

<script>
var tasks = [
{
  id: 'Task 1',
  name: 'Design',
  start: '{{site.data.schedule.design_start}}',
  end: '{{site.data.schedule.design_end}}',
  progress: 100,
}, {
  id: 'Task 2',
  name: 'Manufacturing',
  start: '{{site.data.schedule.manufacturing_start}}',
  end: '{{site.data.schedule.manufacturing_end}}',
  progress: 100,
  dependencies: 'Task 1',
}, {
  id: 'Task 3',
  name: 'Integration',
  start: '{{site.data.schedule.integration_start}}',
  end: '{{site.data.schedule.integration_end}}',
  progress: 100,
  dependencies: 'Task 2',
}, {
  id: 'Task 4',
  name: 'Deployment',
  start: '{{site.data.schedule.deployment_start}}',
  end: '{{site.data.schedule.deployment_end}}',
  progress: 100,
  dependencies: 'Task 3',
}
]
var gantt = new Gantt("#gantt", tasks, {
  bar_height: 40,
  view_mode: 'Month'
});
</script>
