<section class="section is-small">
  <div class="container">
    <div class="tabs">
      <ul>
        {% assign pages = site.pages | sort: 'sequence' %}
        {%- for pg in pages -%}
          {% if pg.sequence > 0 %}
          {% if page.url == pg.permalink %}
            <li class="is-active"><a href="{{site.url}}{{ pg.permalink }}">{{ pg.title }}</a></li>
          {%- else -%}
            <li><a href="{{site.url}}{{ pg.permalink }}">{{ pg.title }}</a></li>
          {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</section>
